version: '3'
services:

  zookeeper:
    container_name: zookeeper
    image: confluentinc/cp-zookeeper:latest
    networks: 
      - broker-kafka
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    container_name: kafka
    image: confluentinc/cp-kafka:latest
    networks: 
      - broker-kafka
    depends_on:
      - zookeeper
    ports:
      - 9092:9092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  kafdrop:
    container_name: kafdrop
    image: obsidiandynamics/kafdrop:latest
    networks: 
      - broker-kafka
    depends_on:
      - kafka
    ports:
      - 19000:9000
    environment:
      KAFKA_BROKERCONNECT: kafka:29092

  comics-encyclopedia-db:
    image: tutum/mongodb
    container_name: comics-encyclopedia-db
    restart: always
    networks:
      - broker-kafka
    environment:
      - AUTH=no
    ports:
      - '27017:27017'
      - '28017:28017'
  
  comics-processor-api:
    build: './comics-processor'
    container_name: comics-processor-api
    ports:
      - '8081:8081'
    networks:
      - broker-kafka
    depends_on:
      - comics-encyclopedia-db
      - zookeeper
      - kafka
    environment:
      - MONGO_DB_CONNECTION=mongodb://comics-encyclopedia-db:27017/comics-encyclopedia
      - KAFKA_SERVER=kafka:9092
      - NODE_ENV=container

  comics-encyclopedia-api:
    build: './comics-encyclopedia'
    container_name: comics-encyclopedia-api
    ports:
      - '8080:8080'
    networks:
      - broker-kafka
    depends_on:
      - comics-encyclopedia-db
      - zookeeper
      - kafka
    environment:
      - SPRING_PROFILES_ACTIVE=container
      - MONGO_DB_CONNECTION=mongodb://comics-encyclopedia-db:27017/comics-encyclopedia-requests
      - SUPER_HERO_API_ACCESS_TOKEN=2560039007408985
      - KAFKA_SERVER=kafka:9092
      - COMICS_PROCESSOR_API=http://comics-processor-api:8081

networks: 
  broker-kafka:
    driver: bridge